ion-fab {
    margin: 0 1em;
}

ion-list {
    min-height: 10vh;
    background: none;
}

.exercise-card {
    footer {
        text-align: right;
        padding: .2em 1em;
        font-size: 2em;
    }
}

ion-button {
    width: 90%;
    margin: auto;
}


