<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Trash</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Trash</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-card *ngFor="let workout of workouts" class="exercise-card">
      <ion-card-header>
        <ion-card-title>{{workout.name}}</ion-card-title>
        <ion-card-subtitle>Deceased</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-card-subtitle>Exercises: </ion-card-subtitle>
        <h1 *ngFor="let exercise of workout.exercises">
          <u>{{exercise.name}}</u>
          <h2 *ngFor="let set of exercise.sets">
            {{set.reps}} reps | 
            <strong>{{set.weight}} Kg</strong>
          </h2>
        </h1>
      </ion-card-content>

      <aside>
        <small *ngIf="workout.created_at">{{workout.created_at}}</small>
      </aside>

      <footer>
        <ion-button color="success" (click)="reviveWorkout(workout)">Revive</ion-button>
        <ion-button color="danger" (click)="deletePermanently(workout)">Delete permanently</ion-button>
      </footer>
    </ion-card>

    <ion-card *ngIf="workouts.length == 0" class="intro-card">
      <ion-card-header>
        <h1>No records</h1>
      </ion-card-header>

      <ion-card-content>
        <ion-button class="newWorkoutBtn" expand="block" color="danger" routerDirection="root" routerLink="/new-workout">
          New workout
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>  

</ion-content>
